<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>

  <div class='search-bar-contents'>
    <%= link_to image_tag("TM-logo-color.png", class:"furima-icon"), "/" %>
    <%= form_with url: search_sounds_path, local: true, method: :get, class:"search-form" do |form|  %>
      <%= form.text_field :keyword, placeholder: 'チャンネル/パーソナリティ名', class:'input-box' %>
      <%= form.submit "検索", class:"search-button" %>
    <% end %>

    <%# <div class='player'> %>
    
    <div class='nav'>
      <ul class='lists-right'>
         <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <%
=begin%>
 <li><%= link_to 'ゲストログイン（閲覧用）', sounds_guest_sign_in_path,class: "sign-up", method: :post %></li> 
<%
=end%>
        <% end %>
      </ul>
    </div>
  </div>
  
</header>