<%= render "shared/header" %>
<div class='main'>
  <div class='main-contents'>  
   <%# ①メニューバー %>
   <div class='menu'>
     <ul>
       <li>ユーザーネーム</li>
       <li>ログアウト</li>
       <li>フォロー中</li>
       <li>おすすめチャンネル</li>
     </ul>
   </div>
   <%# /①メニューバー %>

   <%# ②投稿一覧 %>
   <div class='sound-contents'>
     <%# <h2 class='title'>ピックアップカテゴリー</h2> %>
     <%= link_to '新着放送', "/sound/new", class: "subtitle" %>
     <ul class='sound-lists'>
   
       <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
    <% if @sounds.length != 0 %>
      <% @sounds.each do |sound|%>
       <li class='list'>
         <%= link_to sound_path(sound.id) do %>
         <div class='item-img-content'>
           <%= image_tag sound.user.image, class: "sound-img" %>
          </div>
          <% end %>
 
          <div class='sound-info'>
            <h4 class='sound-name'>
              <%= sound.user.nickname %>
            </h4>
            <h5 class='sound-name'>
              <%= sound.title %>
            </h5>
            <div class='sound-price'>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'><%= sound.liked_users.count %></span>
              </div>
            </div>
          </div>
      </li>
    <% end %>

       <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
   
       <%# 商品がない場合のダミー %>
       <% else %>
       <%# 商品がある場合は表示されないようにしましょう %>
       <li class='list'>
         <%= link_to '#' do %>
         <%= image_tag "https://4.bp.blogspot.com/-pwFCxy4007s/WMfCNtlUzAI/AAAAAAABClg/B-YK7BXBGAAyW2Lilrkl48zqryJUAUlLgCLcB/s800/onsei_ninshiki_computer.png", class: "sound-img" %>
         <div class='sound-info'>
           <h3 class='sound-name'>
             音声を投稿してね！
           </h3>
             <div class='star-btn'>
               <%= image_tag "star.png", class:"star-icon" %>
               <span class='star-count'>0</span>
             </div>
           </div>
         
        <% end %>
       </li>
       <%# //商品がある場合は表示されないようにしましょう %>
       <%# /商品がない場合のダミー %>
     </ul>
    <% end %>
   </div>
   <%# /②投稿一覧 %>

   <%# ③ランキング %>
   <div class='ranking'>
   ここはランキング
   </div>
   <%# /③ランキング %>

  </div>
</div>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>投稿する</span>
  <% if user_signed_in? %>
  <a href="/sounds/new/">
  <% else %>
  <a href="/users/sign_in/">
  <% end %>
      <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div>

<%= render "shared/footer" %>