<!DOCTYPE html>
<html>

<head>
  <title>Talky_Mine ~人生を彩るサウンドメディア~</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
  <%# <link rel=”shortcut icon” href="app/assets/images/favicon-heart.ico"/> %>
   <link rel="icon" type="image/x-icon" href="/image/favicon-heart.png">

</head>

<body>
  <%= yield %>
</body>

</html>